name: CI Extended

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:

  frontend:
    name: Frontend Pipeline
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test --if-present

      - name: Build front
        run: npm run build --if-present



  backend:
    name: Backend Pipeline
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: testing
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost -proot"
          --health-interval=5s
          --health-timeout=2s
          --health-retries=10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: composer
          coverage: none

      - name: Cache vendor
        uses: actions/cache@v3
        with:
          path: vendor
          key: php-${{ runner.os }}-${{ hashFiles('composer.lock') }}
          restore-keys: php-${{ runner.os }}-

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run PHPUnit tests
        run: php artisan test --parallel --stop-on-failure

      - name: Optimize app
        run: php artisan optimize
